[Desktop Entry]
X-VeraCC-Section=System
Icon=update-manager
Comment[it]=Gestisci le preferenze degli aggiornamenti
Keywords[it]=Aggiornamenti;Sviluppo;Canali
Comment=Manage update preferences
Name[it]=Aggiornamenti
Keywords=Updates;Development;Channels
Name=Updates
